<footer>
  <section class="cards">
    <div class="social">
      <a href="#">
        <div class="twitter">
          <img src="assets/img/twitter.png" alt="twitter">
        </div>
      </a>
      <a href="#">
        <div class="instagram">
          <img src="assets/img/instagram.png" alt="instagram">
          <img src="assets/img/instagram_bg.svg">
        </div>
      </a>
    </div>
    <a href="#">
      <div class="palmmedia">
        <img src="assets/img/palmmedia.png" alt="palmmedia">
        <img src="assets/img/palmmedia_top.png">
        <img src="assets/img/palmmedia_bottom.png">
      </div>
    </a>
    <a href="#">
      <div class="impossible">
        <img src="assets/img/impossible.png" alt="impossible">
        <img src="assets/img/impossible_bg_small.png">
        <img src="assets/img/impossible_bg_medium.png">
      </div>
    </a>
    <a href="#">
      <div class="lanistae">
        <img src="assets/img/lanistae.png" alt="lanistae">
        <img src="assets/img/lanistae_bg_small.png">
        <img src="assets/img/lanistae_bg_medium.png">
      </div>
    </a>
    <a href="#">
      <div class="arkun">
        <img src="assets/img/arkun.png" alt="arkun">
      </div>
    </a>
    <a href="#">
      <div class="mail">
        <img src="assets/img/mail.png" alt="mail">
      </div>
    </a>
  </section>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="assets/js/app.js"></script>
</footer>
