<footer>
  <section class="cards">
    <div class="social">
      <a href="https://twitter.com/styvekdrtic">
        <div class="twitter">
          <img class="ikonka" src="assets/img/twitter.png" alt="twitter">
        </div>
      </a>
      <a href="https://instagram.com/styvekdrtic">
        <div class="instagram">
          <img class="ikonka" src="assets/img/instagram.png" alt="instagram">
        </div>
      </a>
    </div>
    <a href="/palmmedia">
      <div class="palmmedia">
        <img class="ikonka" src="assets/img/palmmedia.png" alt="palmmedia">
        <img class="palmmediaTop" src="assets/img/palmmedia_top.png">
        <img class="palmmediaBot" src="assets/img/palmmedia_bottom.png">
      </div>
    </a>
    <a href="/impossible_list">
      <div class="impossible">
        <img class="ikonka" src="assets/img/impossible.png" alt="impossible">
        <div class="impossibleBg"></div>
        <img class="impossibleDoge" src="assets/img/impossible_doge.png" alt="dogo">
      </div>
    </a>
    <a href="/lanistae">
      <div class="lanistae">
        <img class="ikonka" src="assets/img/lanistae.png" alt="lanistae">
        <div class="lanistaeBg"></div>
      </div>
    </a>
    <a href="http://arkun.xyz">
      <div class="arkun">
        <img class="ikonka" src="assets/img/arkun.png" alt="arkun">
      </div>
    </a>
    <a href="mailto:jiristepanek@hotmail.com">
      <div class="mail">
        <img class="ikonka" src="assets/img/mail.png" alt="mail">
      </div>
    </a>
  </section>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="assets/js/app.js"></script>
</footer>
