footer {
  width: 100%;

  div {
    width: 100%;
    height: 140px;
  }

  .social {
    width: 100%;
    position: relative;
    height: 140px;

    a {
      div {
        width: 50%;
        position: absolute;
        top: 0;
        height: 140px;
      }

      &:first-child {
        div {
          left: 0;
        }
      }

      &:last-child {
        div {
          right: 0;
        }
      }
    }
  }

  .twitter {
    background: rgba(15,146,227,1);
    background: -moz-radial-gradient(at left bottom, rgba(15,146,227,1), rgba(67,180,249,1));
    background: -webkit-radial-gradient(at left bottom, rgba(15,146,227,1), rgba(67,180,249,1));
    background: radial-gradient(at left bottom, rgba(15,146,227,1), rgba(67,180,249,1));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f92e3', endColorstr='#43b4f9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }

  .palmmedia {
    background: #333333;
    background: -moz-radial-gradient(at center top, #333333, #252525);
    background: -webkit-radial-gradient(at center top, #333333, #252525);
    background: radial-gradient(at center top, #333333, #252525);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#252525',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }

  .arkun {
    background: #333333;
    background: -moz-radial-gradient(at center top, #7DA5EC, #476CD4);
    background: -webkit-radial-gradient(at center top, #7DA5EC, #476CD4);
    background: radial-gradient(at center top, #7DA5EC, #476CD4);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7DA5EC', endColorstr='#476CD4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }

  .impossible {
    background: #FFD500;
    background: -moz-radial-gradient(at right bottom, #FFD500, #FFE300);
    background: -webkit-radial-gradient(at right bottom, #FFD500, #FFE300);
    background: radial-gradient(at right bottom, #FFD500, #FFE300);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFD500', endColorstr='#FFE300',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }

  .mail {
    background: #D5FFFE;
    background: -moz-radial-gradient(at left bottom, #D5FFFE, #E1FFD2);
    background: -webkit-radial-gradient(at left bottom, #D5FFFE, #E1FFD2);
    background: radial-gradient(at left bottom, #D5FFFE, #E1FFD2);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D5FFFE', endColorstr='#E1FFD2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }

  .lanistae {
    background: #ECF4FF;
  }

}
