/*****************************************

fonts

*****************************************/

@font-face {
  font-family: "reg";
  src: url("../fonts/HelveticaNeue-02.ttf");
}

@font-face {
  font-family: "bol";
  src: url("../fonts/HelveticaNeue-Bold-01.ttf");
}

/*****************************************

colors

*****************************************/

/*****************************************

defaults

*****************************************/

h1, h2, h3, h4, h5, p, span, a {
  font-weight: normal !important;
  //font-family: book;
}
